*{
    margin:none;
    padding: none;
}
#aboutPage{
    width:100%;
    height:100vh;
    background: linear-gradient(#1A1F20,#002348);
    display: flex;
    align-items:  center;
    flex-direction: column;
    justify-content: space-between;

}
.theme-div{
    width:70%;
    border-inline: 3px  solid #97804F;
    display: flex;
    align-items: center;
    flex-direction: column;
    height:fit-content;
    background: linear-gradient(90deg,#0B1720,#2E6086,#001731);
}
.theme-div h2{
    font-size: 71px;
    margin: 0px 0px;
    padding: none;
    color:#F1CE89;
}
.theme-div p{
    font-size:31px;
    line-height: 37.52px;
    color:#ffffff;
    text-align: center;
    padding-inline: 10px;
}
.about-div{
    width:85%;
    height:fit-content;
    background:transparent ;
}
.about-div-heading{
    display: flex;
    align-items: center;
    
}
.special-el{
    width:fit-content;
    height:50px;
    margin-left: 30px;
    margin-top: 30px;
}
.special-el img{
    object-fit: cover;
    width:100%;
    height:100%;
    

}
.about-div-heading h2{
    font-size: 54px;
    line-height:69.77px ;
    color:#EFAF32;
    margin: 0px 0px;
    margin-top: 30px;
}
.about-div-heading span{
    font-size: 101px;
    line-height:101.3px ;
    color:#F1CE89;
}
.about-div p{
    color:#ffffff;
    font-size: 31px;
    line-height: 37.52px;
    margin: 0px 0px;
    margin-top: 10px;
}

.about-btns{
    margin-bottom: 40px;
    display: flex;
    gap:25px;
    margin-left: 30vw;
}

.about-btns button{
    background-color:#F1CE89;
    border:3px solid #97804F;
    font-size: 31px;
    line-height: 40px;
    padding: 17px 35px;
}