
#homepage {
  width: 100%;
  height: 100vh;
  background: url("../assets/herobig1.webp") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.content {
  background: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  border-radius: 10px;
}

.MainLogoDiv {
  width: 50%;
  max-width: 600px;
  transition: all 0.3s ease;
  animation: uparNiche 3s ease-in-out infinite;
  
}
@keyframes uparNiche {
  0% { transform: translateY(0); }
  50% { transform: translateY(25px); }
  100% { transform: translateY(0); }
}
.MainLogoDiv img {
  width: 100%;
}

.DateBanner {
  width: 528px;
  height: 185px;
  max-width: 90%;
}
@keyframes arver {
  100% {
      transform: translate(5.2rem, -1rem) rotate(-90deg);
      opacity: 1;
  }
}
.rightVertical {
  position: absolute;
  top: 50%;
  letter-spacing: 0.2rem;
  display: flex;
  align-items: center;
  right: 0;
  transform: translate(5.2rem, 9rem) rotate(-90deg);
  opacity: 0;
  animation: arver 1.5s forwards .8s;
  color:#f1ce89;
}

@keyframes alver {
  100% {
      transform: translate(-5.2rem, -1.3rem) rotate(-90deg);
      opacity: 1;
  }
}

.leftVertical {
  position: absolute;
  top: 50%;
  letter-spacing: 0.2rem;
  display: flex;
  align-items: center;
  left: 0;
  transform: translate(-5.2rem, 9.3rem) rotate(-90deg);
  opacity: 0;
  animation: alver 1.5s forwards .4s;
  
}

.leftVertical img {
  width: 1rem;
  margin-left: 1.5rem;
  filter: invert();
  transition: .3s ease-in-out;
  transform: rotate(90deg);
}

.leftVertical img:hover {
  scale: 1.5;
}

.dateBanner{
  width:25vw;
  height:auto;
  object-fit: contain;
}
.dateBanner img{
  width:100%;
  height:100%;
  
}
.social-icons {
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.social-icons:hover {
  transform: scale(1.5);
}


@media screen and (max-width: 992px) {
  .MainLogoDiv {
    width: 60%;
  }
  
  .vertical-iiit-text {
    font-size: 24px;
    letter-spacing: 2px;
    right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .MainLogoDiv {
    width: 70%;
  }
  
  .vertical-iiit-text {
    font-size: 20px;
    letter-spacing: 1.5px;
    right: 5px;
  }
  
  .DateBanner {
    transform: scale(0.9);
  }
  .dateBanner{
    width:50vw;
    height:auto;
    object-fit: contain;
  }
}

@media screen and (max-width: 576px) {
  .MainLogoDiv {
    width: 80%;
  }
  
  .vertical-iiit-text {
    font-size: 16px;
    letter-spacing: 1px;
    right: 2px;
    margin: 15px;
  }
  
  .DateBanner {
    transform: scale(0.8);
  }
  .dateBanner{
    width:60vw;
    height:auto;
    margin-top: 30vw;
  }
}

@media screen and (max-width: 480px) {
  .MainLogoDiv {
    width: 85%;
  }
  
  .vertical-iiit-text {
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 10px;
  }
  
  .DateBanner {
    transform: scale(0.7);
  }
}
@media (max-width: 850px) {
  .leftVertical {
      margin-left: -1.5rem;
      margin-top: 15vh;
  }

  .rightVertical {
      margin-right: -1.5rem;
      margin-top: -15vh;
  }
}
