#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:60px 0px ;
    background: transparent;
    color: #fff;
    position: fixed;
    width:100%;
    top:0;
    z-index:99;
    
  }
  
  .nav-links {
    display: flex;
    gap: 50px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    transition: opacity 0.3s ease;
  }
  
  .nav-links a:hover {
    opacity: 0.8;
  }
  
  .logo {
    font-size: 32px;
    font-family: "CustomFont", serif; 
    font-weight: bold;
    position: absolute;
    padding-inline:20px ;
  }
  