.gryffindor-background {
    width: 100%;
    height: 100vh;
    background: url("/gryffindor.webp") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    flex-direction: column;
    position: relative;
}
  
.gryffindor-overlay-text {
    font-family: Joan, serif;
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-top: 8%;
    padding-left: 12%;
    padding-right: 53%;
    color: white;
    font-size: 28px;
  }
@media (max-width:768px){
    .gryffindor-overlay-text {
        display: none;
    }

}   